
.banner .container .row .curva-banner {

}
.banner .container .row .curva-banner .block-curva {


    height: 200px;
}
.banner .container .row .curva-banner .block-curva img {

}
.banner .container .row .curva-banner .block-desc {
    border: 1px solid #ccc;
    margin-top: -30px;
}
.banner .container .row .curva-banner .block-desc h2 {
    text-align: center;

}
.banner .container .row .curva-banner .block-desc p {
        text-align: justify;
        padding: 9px;
}
.banner2 h3{
   font-size: 19px;
   margin-left: 22px;
}
.banner2 .butao-banner {
  width: 200px;
  padding: 6px;
  float: right;
  margin-top: -2%;
  margin-right: 7%;
}
